@import './_mixins/mixin', './_mixins/normmalize', './_mixins/varibles';


// H E A D E R - S T A R T //

.header{
    background-image: url(../img/header__img.svg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    @media screen and (max-width:750px){
        height: 80vh;
    }
}

.navbar{
    @include flex (center, space-between);
    padding-top: 55px;
    &__left{
        @include flex (center, space-between);
        .navbar__directs{
            text-align: center;
            margin-left: 40px;
            &-item{
                font-family: $mainFont;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 130%;
                color: #FCFCFC;
                transition: $transition;
                &:not(:last-child){
                    margin-right: 40px;
                }
                &:hover{
                    color: #939090;
                }
            }
        }
    }
    &__ham{
        display: none;
    }
    @media screen and (max-width: 1024px){
        &__left{
            .navbar__directs{
                display: none;
            }
        }
        &__right{
            display: none;
        }
        &__ham{
            margin-left: 10px;
            display: block;
        }
    }
    @media screen and (max-width:750px){
        .navbar__logo{
            width: 150px;
            height: 24px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.header__main{
    margin-top: 180px;
    width: 47%;
    @include flex (center, flex-start);
    &-text{
        font-family: $mainFont;
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: $white;
    }
    @media screen and (max-width: 1024px){
        // padding-left: 65px;
    }
    @media screen and (max-width:750px){
        // width: 100%;
        margin: 180px auto;
        text-align: center;
        
        &-text{
            font-size: 32px;
        }
    }
}

// H E A D E R - E N D //



// L E S S O N S - S T A R T //

.lessons{
    text-align: center;
    background: #AB0433;
    background-image: url(../img/lessons__Img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken, normal;
    box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    height: auto;
    width: 100%;
    padding: 50px 0;
    transform: translateY(-50%);
    &__title{
        font-family: $mainFont;
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        line-height: 120%;
        color: $white;
        margin-bottom: 4px;
    }
    &__desc{
        font-family: $mainFont;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 149%;
        color: $white;
        margin-bottom: 16px;
    }
    &__btn{
        background: #FF753A;
        border-radius: 32px;
        font-family: $mainFont;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 130%;
        color: $white;
        padding: 8px 16px;
        border: none;
        transition: $transition;
        &:hover{
            background: #f5b69b;
        }
    }
    @media screen and (max-width:750px){
        &__title{
            font-size: 21px;
        }
        &__desc{
            font-size: 10px;
        }
    }
}

// L E S S O N S - E N D //



// P R O D U C T - S T A R T //

.product{
    &__text{
        margin-bottom: 35px;
        &-title{
            font-family: $mainFont;
            // position: relative;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            color: #505050;
            &::before{
                content: '';
                position: absolute;
                background-color:#AB0433;
                height: 3px;
                width: 90px;
                left: 50%;
                transform: translateX(-50%);
                margin-top: -10px;
            }
        }
    }
    &__content{
        @include flex (center, space-between);
        flex-flow: row wrap;
        gap: 20px;
        .content__item{
            filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1))
             drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
            width: 30%;
            min-width: 297px;
            float: right;

            &-img{
                background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%) ;
                border-radius: 10px 10px 0px 0px;
                padding: 0 42px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-text{
                background: $white;
                border-radius: 0px 0px 10px 10px;
                padding: 16px 24px;
                .text__title{
                    @include flex(center, space-between);
                    margin-bottom: 6px;
                    p{
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 130%;
                        color: #252525;
                    }
                }
                .text__desc{
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 130%;
                    color: #767676;
                    margin-bottom: 30px;
                }
                .text__color{
                    border: 1px solid #EAEAEA;
                    border-radius: 20px;
                    font-family: $secondaryFont;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 150%;
                    color: #505050;
                    display: inline-block;
                    padding: 3px 8px;
                }
            }
        }
    }
    @media screen and (max-width:1031px){
        .product__content{
            .content__item{
                width: 48%;
            }
        }
    }
    @media screen and (max-width:750px){
        .product__content{
            .content__item{
                width: 100%;
            }
            @include flex ();
            flex-direction: column;
        }
    }
}

// P R O D U C T - E N D //



// P O P U L A R - S T A R T //


.popular-bg{
    background: #ECECEC;
    margin-top: 90px;
}

.popular{
    padding: 90px 0;
    &__text{
        margin-bottom: 35px;
        &-title{
            font-family: $mainFont;
            // position: relative;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            color: #505050;
            &::before{
                content: '';
                position: absolute;
                background-color:#AB0433;
                height: 3px;
                width: 90px;
                left: 50%;
                transform: translateX(-50%);
                margin-top: -10px;
            }
        }
    }
    &__content{
        @include flex (center, space-between);
        flex-flow: row wrap;
        gap: 20px;
        .content__item{
            filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1))
             drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
            width: 30%;
            min-width: 297px;
            float: right;

            &-img{
                background: #FFFFFF;
                border-radius: 10px 10px 0px 0px;
                padding: 0 42px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &-text{
                background: $white;
                border-radius: 0px 0px 10px 10px;
                padding: 16px 24px;
                .text__title{
                    @include flex(center, space-between);
                    margin-bottom: 6px;
                    p{
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 130%;
                        color: #252525;
                    }
                }
                .text__desc{
                    font-family: $mainFont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 130%;
                    color: #767676;
                    margin-bottom: 30px;
                }
                .text__color{
                    border: 1px solid #EAEAEA;
                    border-radius: 20px;
                    font-family: $secondaryFont;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 150%;
                    color: #505050;
                    display: inline-block;
                    padding: 3px 8px;
                }
            }
        }
    }
    @media screen and (max-width:1031px){
        .popular__content{
            .content__item{
                width: 48%;
            }
        }
    }
    @media screen and (max-width:750px){
        .popular__content{
            .content__item{
                width: 100%;
            }
            @include flex ();
            flex-direction: column;
        }
    }
}

// P O P U L A R - E N D //



// G E A R - S T A R T //

.gear{
    margin: 90px 0;
    &__text{
        margin-bottom: 35px;
        &-title{
            font-family: $mainFont;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 120%;
            text-align: center;
            color: #505050;
            &::before{
                content: '';
                position: absolute;
                background-color:#AB0433;
                height: 3px;
                width: 90px;
                left: 50%;
                transform: translateX(-50%);
                margin-top: -10px;
            }
        }
    }

    &__content{
        &-first{
            @include flex (center, space-between);
            width: 100%;
            .firstContent__item{
                width: 48%;
                &-img{
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &-text{
                    margin-top: -4px;
                    background: #252525;
                    border-radius: 0px 0px 10px 10px;
                    padding: 32px;
                    h3{
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 130%;
                        color: $white;
                        margin-bottom: 10px;
                    }
                    p{
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 130%;
                        color: #C4C4C4;
                    }
                }
                &-second{
                    .firstContent__item-text{
                        background: #EAEAEA;
                        h3{
                            color: #202020;
                        }
                        p{
                            color: #767676;
                        }

                    }
                }
            }
        }
        &-second{
            @include flex (center, space-between);
            width: 100%;
            margin-top: 48px;
            .secondContent__item{
                width: 32%;
                &-img{
                    border-radius: 10px 10px 0px 0px;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &-text{
                    margin-top: -4px;
                    background: #252525;
                    border-radius: 0px 0px 10px 10px;
                    padding: 32px;
                    h3{
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 130%;
                        color: $white;
                        margin-bottom: 10px;
                    }
                    p{
                        font-family: $mainFont;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 130%;
                        color: #C4C4C4;
                    }
                }
                &-second{
                    .secondContent__item-text{
                        background: #EAEAEA;
                        h3{
                            color: #202020;
                        }
                        p{
                            color: #767676;
                        }

                    }
                }
            }
        }
    }

    @media screen and(max-width: 1031px){
        .secondContent__item-first{
            display: none;
        }
        .secondContent__item{
            width: 48%;
        }
    }
    @media screen and (max-width:750px){
        &__content{
            @include flex (center, center);
            flex-direction: column;
            &-first{
                @include flex (center, center);
                flex-direction: column;
                .firstContent__item{
                    width: 100%;
                    &:first-child{
                        margin-bottom: 48px
                    }
                    
                }
            }
            &-second{
                @include flex (center, center);
                flex-direction: column;
                .secondContent__item{
                    width: 100%;
                    margin-bottom: 48px
                    // &:first-child{

                    // }
                    
                }
            }
        }
    }
}

// G E A R - E N D //




// F O O T E R - S T A R T //

.footer-bg{
    background: #505050;
}

.footer{
    @include flex (center, space-between);
    padding: 70px 0;
    &__directs{
        @include flex (flex-start, flex-start);
        &-item{
            @include flex (flex-start, flex-start);
            flex-direction: column;
            text-align: center;
            &:first-child{
                margin-right: 50px;
            }
            .item__title{
                font-family: $mainFont;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 130%;
                color: $white;
            }
            .item__directs{
                font-family: $mainFont;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: $white;
                margin-top: 10px;
                transition: $transition;
                &:hover{
                    color: #939090;
                }
            }
        }
    }

    &__logo{
        .footer__icons{
            margin-top: 32px;
            text-align: right;
            a{
                margin-left: 12px;
            }
        }
    }

    @media screen and (max-width:750px){
        padding: 35px 0;
        .second__item{
            display: none;
        }
        .main__logo{
            display: none;
        }
        @include flex(center, center);
        flex-direction: column;
        text-align: center;
    }
}

// F O O T E R - E N D //
