$titleColor: #000000;
$textColor: #4B4B4B;
$fontWeight: 400;
$mainFont: 'Work Sans', sans-serif;
$secondaryFont: 'Montserrat', sans-serif;
$white: #FFFFFF;
$transition: all .3s;


$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 8px;

$mobile-width: 600px;
$tablet-width: 1024px;
